/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish {
    font-family: "Mulish", sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
}






.image-container {
    position: relative;
}

.image-text {
    display: none;
    position: absolute;
    top: -75%;
    left: 50%;
    transform: translateX(-50%);
    background-color:#797DFC;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.image-container:hover .image-text {
    display: block;
}